[Unit]
Description=Power Module REST API
Wants=multi-user.target nexus-drv-power.service

[Service]
Environment=RUST_APP_LOG="info"
Environment=ROCKET_ENV=production
Environment=PORT=8001
ExecStart=/usr/bin/nexus-rest-power
MemoryMax=10M
User=sdbp
Group=sdbp

[Install]
WantedBy=multi-user.target
